@font-face
  font-family: 'Poppins-Regular'
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf')

@font-face
  font-family: 'Poppins-Bold'
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf')

*
  box-sizing: border-box

.pokemon-page
  width: 480px
  padding: 24px 16px
  margin: 50px auto
  background-color: #E5E5E5
  border-radius: 12px
