$mainColor: #212121
$descriptionColor: #666666

$lightGrey: #E0E0E0
$mediumGrey: rgba(102, 102, 102, 1)

$normal: #AAA67F
$water: #6493EB
$steel: #B7B9D0
$grass: #74CB48
$psychic: #FB5584
$bug: #A7B723
$electric: #F9CF30
$fire: #F57D31
$ghost: #70559B
$poison: #A43E9E
$flying: #8ec9fd
$rock: #a35506
$ground: #895b23
$fairy: #f5a8c8
$fighting: #812020
$ice: #c9dcff
$dragon: #f52424
