@import "./../../variables.sass"

.pokemonsItem__wrap
  position: relative
  width: 100%
  height: 160px
  margin-right: 14px
  margin-bottom: 8px
  background-color: #fff
  border-radius: 8px
  overflow: hidden

  &--normal
    border: 1px solid $normal
    .pokemonsItem__name
      background-color: $normal
    .pokemonsItem__id
      color: $normal
  &--water
    border: 1px solid $water
    .pokemonsItem__name
      background-color: $water
    .pokemonsItem__id
      color: $water
  &--steel
    border: 1px solid $steel
    .pokemonsItem__name
      background-color: $steel
    .pokemonsItem__id
      color: $steel
  &--grass
    border: 1px solid $grass
    .pokemonsItem__name
      background-color: $grass
    .pokemonsItem__id
      color: $grass
  &--psychic
    border: 1px solid $psychic
    .pokemonsItem__name
      background-color: $psychic
    .pokemonsItem__id
      color: $psychic
  &--bug
    border: 1px solid $bug
    .pokemonsItem__name
      background-color: $bug
    .pokemonsItem__id
      color: $bug
  &--electric
    border: 1px solid $electric
    .pokemonsItem__name
      background-color: $electric
    .pokemonsItem__id
      color: $electric
  &--fire
    border: 1px solid $fire
    .pokemonsItem__name
      background-color: $fire
    .pokemonsItem__id
      color: $fire
  &--ghost
    border: 1px solid $ghost
    .pokemonsItem__name
      background-color: $ghost
    .pokemonsItem__id
      color: $ghost
  &--poison
    border: 1px solid $poison
    .pokemonsItem__name
      background-color: $poison
    .pokemonsItem__id
      color: $poison
  &--flying
    border: 1px solid $flying
    .pokemonsItem__name
      background-color: $flying
    .pokemonsItem__id
      color: $flying
  &--rock
    border: 1px solid $rock
    .pokemonsItem__name
      background-color: $rock
    .pokemonsItem__id
      color: $rock
  &--ground
    border: 1px solid $ground
    .pokemonsItem__name
      background-color: $ground
    .pokemonsItem__id
      color: $ground
  &--fairy
    border: 1px solid $fairy
    .pokemonsItem__name
      background-color: $fairy
    .pokemonsItem__id
      color: $fairy
  &--fighting
    border: 1px solid $fighting
    .pokemonsItem__name
      background-color: $fighting
    .pokemonsItem__id
      color: $fighting
  &--ice
    border: 1px solid $ice
    .pokemonsItem__name
      background-color: $ice
    .pokemonsItem__id
      color: $ice
  &--dragon
    border: 1px solid $dragon
    .pokemonsItem__name
      background-color: $dragon
    .pokemonsItem__id
      color: $dragon

.pokemonsItem__id
  position: absolute
  top: 4px
  right: 8px
  font-size: 12px
  font-family: 'Poppins-Regular'

.pokemonsItem__image
  padding: 20px
  width: 100%
  height: 80%
  img
    width: 100%
    height: 100%

.pokemonsItem__name
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 20%
  color: white
  font-family: 'Poppins-Regular'
  font-size: 14px
