body
  background-color: #212121

.albums
  width: 100%
  max-width: 1200px
  margin: 0 auto
  padding: 30px

.sliderContainer
  margin-bottom: 80px

.sliderTitle
  display: flex
  align-items: center
  justify-content: space-between

  a
    color: #ccfd7e
    font-size: 20px
    font-weight: 500
    text-decoration: none
    transition: all 0.3s
    &:hover
      color: white

.prevPage
  display: flex
  align-items: center
  h1
    margin-left: 20px

.albumName
  font-size: 24px
  color: white

.slideContainer
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 450px

.slideTitle
  color: white
  font-size: 16px
  text-align: center

.imgContainer

  .img
    width: 100%
